table {
    border-collapse: collapse;
    width: 45em;
    height: 45em;
    margin: auto;
    user-select: none;
}   

td {
    width: 33%;
    height: 33%;
    font-size: 10em;
    text-align: center;
    border: 1px solid black;
}

/* Select the td that is the first child of its parent
   The left side of the table */
td:nth-child(1){
    border-left: none;
} 
/* The right side of the table */
td:nth-child(3){
    border-right: none;
} 

/* Select the td that is the first child of its parent
   The top of the table */
tr:nth-child(1) > td{
    border-top: none;
}

/* Select the td that is the first child of its parent
   The bottom of the table */
tr:nth-child(3) > td{
    border-bottom: none;
}

#turn_indicator {
    margin: auto;
    font-size: 7em;
    text-align: center;
}